---
---

.em {
  height: 1.5em;
  width: 1.5em;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
}

{% comment %} This needs to match index.html. {% endcomment %}
{% assign emoji = site.data.emoji | sort: 'short_name' %}
{% for emo in emoji %}
  {% assign name = emo.short_name | replace:'+','--' %}
  {% assign filename = emo.unified | split: '-' | first | downcase %}
  .em-{{ name }} {
    background-image: url('https://twemoji.maxcdn.com/2/72x72/{{ filename }}.png');
  }
{% endfor %}
