---
---

.em {
  height: 1.5em;
  width: 1.5em;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
}

{% comment %} This needs to match index.html. {% endcomment %}
{% assign emoji = site.data.emoji %}
{% for emo in emoji %}
  .em-{{ emo.name }} {
    background-image: url('https://twemoji.maxcdn.com/2/72x72/{{ emo.file }}.png');
  }
{% endfor %}
