---
---

<!doctype html>
<html lang="en">
  <head>
    <title>Emoji CSS</title>
    <meta charset="utf-8">
    <meta property="og:title" content="Emoji CSS" />
    <meta property="og:image" content="http://afeld.github.io/emoji-css/emoji/thumbsup.png" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://afeld.github.io/emoji-css/" />
    <link rel="shortcut icon" href="public/favicon.ico"/>
    <link href="//fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet">
    <link href="emoji.css" rel="stylesheet">
    <link href="public/style.css" rel="stylesheet">
  </head>
  <body id="content">
    <div id="header">
      <h1>Emoji CSS</h1>
      <input class="search" placeholder="Instant Search">
    </div>
    <p>
      Want to include emoji in your HTML? Just include the (minified) stylesheet below, then add <code>&lt;i&gt;</code> tags to insert emoji. That's it!<br>
      &#x2708; <b>Click the emoji code and it will be copied to your clipboard.</b>
      <pre><code>&lt;link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet"&gt;

&lt;i class="em em-some-emoji"&gt;&lt;/i&gt;</code></pre>
    </p>
    <ul class="emojis">
      {% comment %} This needs to match emoji.scss. {% endcomment %}
      {% assign files = site.static_files | sort:'path' %}
      {% for emo in files %}
        {% if emo.path contains '/emoji/' %}
          {% assign filename = emo.path | replace:'/emoji/','' %}
          {% assign name = filename | replace:'.png','' | replace:'+','--' %}
          <li class="emoji" data-clipboard-text="{{ name }}">
            <i class="em em-{{ name }}"></i> em-<span class="name">{{ name }}</span>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
    <a href="https://github.com/afeld/emoji-css/"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/zeroclipboard/2.1.6/ZeroClipboard.min.js"></script>
    <script src="public/script.js"></script>
  </body>
</html>
